<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie place</title>
  </head>
  <body>

  <% if(typeof errors!=='undefined'){ %>
  <%  errors.forEach(function(err){ %>
    <li>  <%= err.msg %> </li>
<%})%>
  <%}%>