<% include ../views/partials/header %>
  

<%movie.forEach((mov)=>{%>
   <div class="large-4 columns end">
	<img class="th" src="<%= mov.cover %>">
    <h3><%= mov.title%></h3>
    <a class="button" href="/movies/details/<%= mov._id%>">Info</a>
    </div>
<%})%>





<% include ../views/partials/footer %> 